*{
  margin: 0;
  color: White;
}


header{
  background-color: rgb(51, 51, 51);


}
.header-Buttons{
  display: inline-block;
  }
body{
    background-image: url("../images/background.png");
    backdrop-filter: blur(1px);
    text-align: -webkit-center;
    height: 100vh;
}
.title{
  text-align: center;
}
.innerBody{

  text-align: ;
  background-color: rgb(127, 127, 127);
  margin:5vh;
  padding: 20px;
  width: 80%;
}
.inner{
    background-color: rgb(153, 153, 153);
    padding: 10px;

}
.header-Buttons button{
  display: inline-block;
  border: none;
  margin-left: -2px;
  margin-right:-2px;
  padding: 15px;
  background-color: rgb(153, 153, 153);

}
.header-Buttons button a{
  text-decoration: none;
}
.Image-Carousel{
  background-size:cover;
  width: 100%;
  height: 100%;
  padding: 2px;


}
.buttonSelected{
  background-color: rgb(51, 51, 51) !important;

}
.Carosel{
  box-sizing:inherit;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: -webkit-left;
  margin:5vh;
  height:40vh;

}
.outline{
  background-color: rgb(127, 127, 127);
  height: 100%;
  padding: 20px;
}
.inlineContent{

  position: inherit;
  display: inline-flex;
  text-align: -webkit-center;
  width:85%;
}
.Info{
  box-sizing:inherit;
  position:relative;
  width: 100%;
  background-color: rgb(127, 127, 127);
  height:10vh;
  border-style: solid;

}
.Info p{
  height: 100%;
  background-color: rgb(153, 153, 153);
}
footer{
  position:fixed;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
  background: black;
}
.leftButton{
    display: inline-block;
 mix-blend-mode: multiply;
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 11%;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .5;
    background-color: rgba(0,0,0,0.1);
    border-bottom-right-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border-left: 0;
    text-decoration: none;
}
.rightButton p{
  position: relative;
  top:40%;
  left: 45%;
  text-decoration: none;
}
.leftButton p{
  position: relative;
  top:40%;
  right: -15%;
}
.rightButton{
    mix-blend-mode: multiply;
    display: inline-block;
    position:relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 91%;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .5;
    background-color: rgba(0,0,0,0.1);
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-left-radius: 110px; /* 100px of height + 10px of border */
    border-left: 0;
    text-decoration: none;
}
.leftButton:hover{
  background-color: rgba(0,0,0,0.4);
}
.rightButton:hover{
  background-color: rgba(0,0,0,0.4);
}
