.project1{
border-radius: 10px;
border-color: white;
border-style: solid;
margin-top: 50px;
align-items: center;
display:flex;
width:auto;
padding: 2%;
justify-content: space-evenly
}

.project1 img{

    max-width: 30%;
    border-radius: 10%;
    border-style:solid;
}

.project2{
border-radius: 10px;
border-color: white;
border-style: solid;
margin-top: 50px;
align-items: center;
display:flex;
width: fit-content;
padding: 2%;
}

.project2 img{
    margin: 2%;
    max-width: 30%;
    min-width: none;
    border-radius: 10%;
    border-style:solid;
}
.project3{
border-radius: 10px;
border-color: white;
border-style: solid;
margin-top: 50px;
align-items: center;
display:flex;
width: fit-content;
padding: 1%;
justify-content:center;
flex-wrap: wrap

}

.project3 img{
    margin: 1%;
    max-width: 20%;
    border-radius: 10%;
    border-style:solid;
}
.project4{
border-radius: 10px;
border-color: white;
border-style: solid;
margin-top: 50px;
align-items: center;
display:flex;
width: fit-content;
padding: 2%;
}

.project4 img{
    margin: 2%;
    max-width: 30%;
    border-radius: 10%;
    border-style:solid;
}